<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Silkscreen">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/style1.css">
  <script src="/public/js/formValidation.js"></script>
</head>
<body>
  include ./layouts/navbar.pug
  <br>
  <!-- include ./layouts/alertBar.pug -->
  <h5>#{message}</h5>
      <form action="/users" method="post" >
        <div class="devtest">
        <h1 class="font-effect-fire" >Registration form</h1><br>
        <div class="test">
          <input class="mb-3 col-lg-6" type="text" minlength="2" maxlength="6" name="name" id="name" placeholder="Enter your name" required >
          <input class="mb-3 col-lg-6" required type="email" name="email" id="email" placeholder="Enter your email">
          <input class="mb-3 col-lg-6" required  type="number"  min="1" max="1000000000" name="phone" id="phone" placeholder="Enter your phone number">
          <input class="mb-3 col-lg-6" required  type="text" minlength="2" maxlength="20" name="employeement" id="employeement" placeholder="Enter your employeement">
          <input class="mb-3 col-lg-6" required  type="text" minlength="6" maxlength="12" name="password" id="password" placeholder="Create you password"> 
          <br><button class="btnSubmit" type="submit" >Submit</button>
        </div>
      </form>
      </div>
      include ./layouts/footer.pug
      <script>
        console.log(validateForm())
      </script>
</body>
</html>